* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#root {
    background-image: url(/assets/bg.png) ;
    display: flex;
    flex-direction: column;
    justify-content: center;

}